* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
}

.container {
    width: 50%;
    max-width: 1284px;
    margin: 100px auto;
    padding: 80px;
    background-color: #ffffff;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    border-radius: 56px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.festival-image {
    width: 300px;
    height: auto;
    border: 1px solid #ddd;
}

.festival-info {
    width: calc(100% - 320px);
    padding: 10px 20px;
}

.festival-info h1 {
    font-size: 24px;
    margin-bottom: 15px;
}

.festival-details {
    list-style: none;
}

.festival-details li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 18px;
}

.icon {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.description{
    margin: 30px 0;
    background: 
    linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
    url('./images/second.png');
   text-align: center;
   padding: 30px 0px;
   margin: 50px 0px;
}

.description h2 {
    font-size: 20px;
    margin-bottom: 10px;
    
}

.interest-btn {
    background-color: white;
    color: black;
    padding: 10px 20px;
    border: 2px solid #6FBAFF;
    cursor: pointer;
    font-size: 18px;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    width: 300px;
    height: 50px;
}

.interest-btn:hover{
    background-color: #6FBAFF;
    color: white;
}

.similar-festivals {
    margin-top: 40px;
}

.similar-festivals h2 {
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;
    margin-bottom: 40px;
}

.festival-cards {
    display: flex;
    justify-content: space-between;
}

.festival-card {
    width: 50%;
    text-align: center;
}

.festival-card img {
    width: 80%;
    height: auto;
    border: 1px solid #ddd;
    margin-bottom: 10px;
}