<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>practice</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>myPageLoginSessionTest</servlet-name>
    <servlet-class>com.skt.member.controller.myPageLoginSessionTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>myPageLoginSessionTest</servlet-name>
    <url-pattern>/myPageTest.me</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>board.bo</display-name>
    <servlet-name>board.bo</servlet-name>
    <servlet-class>com.skt.board.controller.BoardListController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>board.bo</servlet-name>
    <url-pattern>/board.bo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>detail.bo</display-name>
    <servlet-name>detail.bo</servlet-name>
    <servlet-class>com.skt.board.controller.BoardDetailController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>detail.bo</servlet-name>
    <url-pattern>/detail.bo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteBoard.bo</display-name>
    <servlet-name>deleteBoard.bo</servlet-name>
    <servlet-class>com.skt.board.controller.BoardDeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteBoard.bo</servlet-name>
    <url-pattern>/deleteBoard.bo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>board_create.bd</display-name>
    <servlet-name>board_create.bd</servlet-name>
    <servlet-class>com.skt.board.controller.BoardCreateController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>board_create.bd</servlet-name>
    <url-pattern>/board_create.bd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>update.me</display-name>
    <servlet-name>update.me</servlet-name>
    <servlet-class>com.skt.member.controller.myPageUpdateController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>update.me</servlet-name>
    <url-pattern>/update.me</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updatePwd.me</display-name>
    <servlet-name>updatePwd.me</servlet-name>
    <servlet-class>com.skt.member.controller.myPagePwdChangeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updatePwd.me</servlet-name>
    <url-pattern>/updatePwd.me</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>delete.me</display-name>
    <servlet-name>delete.me</servlet-name>
    <servlet-class>com.skt.member.controller.myPageDeleteMember</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>delete.me</servlet-name>
    <url-pattern>/delete.me</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>myPageMyBoard</display-name>
    <servlet-name>myPageMyBoard</servlet-name>
    <servlet-class>com.skt.member.controller.myPageMyBoard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>myPageMyBoard</servlet-name>
    <url-pattern>/myPageMyBoard</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>insertComment.bo</display-name>
    <servlet-name>insertComment.bo</servlet-name>
    <servlet-class>com.skt.board.controller.BoardInsertCommentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>insertComment.bo</servlet-name>
    <url-pattern>/insertComment.bo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>updateBoard.bo</description>
    <display-name>UpdateBoardController</display-name>
    <servlet-name>UpdateBoardController</servlet-name>
    <servlet-class>com.skt.board.controller.UpdateBoardController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateBoardController</servlet-name>
    <url-pattern>/UpdateBoardController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>search.bo</display-name>
    <servlet-name>search.bo</servlet-name>
    <servlet-class>com.skt.board.controller.BoardSearchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>search.bo</servlet-name>
    <url-pattern>/search.bo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>like.bo</display-name>
    <servlet-name>like.bo</servlet-name>
    <servlet-class>com.skt.board.controller.BoardLikeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>like.bo</servlet-name>
    <url-pattern>/like.bo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>insertReply.bo</display-name>
    <servlet-name>insertReply.bo</servlet-name>
    <servlet-class>com.skt.board.controller.BoardInsertReplyController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>insertReply.bo</servlet-name>
    <url-pattern>/insertReply.bo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>login.me</display-name>
    <servlet-name>login.me</servlet-name>
    <servlet-class>com.skt.member.controller.MemberLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login.me</servlet-name>
    <url-pattern>/login.me</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logout.me</display-name>
    <servlet-name>logout.me</servlet-name>
    <servlet-class>com.skt.member.controller.MemberLogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout.me</servlet-name>
    <url-pattern>/logout.me</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>searchId.me</display-name>
    <servlet-name>searchId.me</servlet-name>
    <servlet-class>com.skt.member.controller.MemberSearchIdController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchId.me</servlet-name>
    <url-pattern>/searchId.me</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>searchPwd.me</display-name>
    <servlet-name>searchPwd.me</servlet-name>
    <servlet-class>com.skt.member.controller.MemberSearchPwdController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchPwd.me</servlet-name>
    <url-pattern>/searchPwd.me</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteComment.bo</display-name>
    <servlet-name>deleteComment.bo</servlet-name>
    <servlet-class>com.skt.board.controller.BoardDeleteCommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteComment.bo</servlet-name>
    <url-pattern>/deleteComment.bo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemberInsertController</display-name>
    <servlet-name>MemberInsertController</servlet-name>
    <servlet-class>com.skt.member.controller.MemberInsertController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberInsertController</servlet-name>
    <url-pattern>/MemberInsertController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>enrollForm.me</display-name>
    <servlet-name>enrollForm.me</servlet-name>
    <servlet-class>com.skt.member.controller.MemberEnrollFormController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>enrollForm.me</servlet-name>
    <url-pattern>/enrollForm.me</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>idCheck.me</display-name>
    <servlet-name>idCheck.me</servlet-name>
    <servlet-class>com.skt.member.controller.AjaxCheckController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>idCheck.me</servlet-name>
    <url-pattern>/idCheck.me</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>touristRank.mp</display-name>
    <servlet-name>touristRank.mp</servlet-name>
    <servlet-class>com.skt.main.controller.MainPageTouristRankServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>touristRank.mp</servlet-name>
    <url-pattern>/touristRank.mp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>touristRankTwo.mp</display-name>
    <servlet-name>touristRankTwo.mp</servlet-name>
    <servlet-class>com.skt.main.controller.MainPageTouristRankTwoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>touristRankTwo.mp</servlet-name>
    <url-pattern>/touristRankTwo.mp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>festivalIntro.mp</display-name>
    <servlet-name>festivalIntro.mp</servlet-name>
    <servlet-class>com.skt.main.controller.MainPageFestivalIntroServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>festivalIntro.mp</servlet-name>
    <url-pattern>/festivalIntro.mp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateProfileImage.me</display-name>
    <servlet-name>updateProfileImage.me</servlet-name>
    <servlet-class>com.skt.member.controller.myPageProfileImgUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateProfileImage.me</servlet-name>
    <url-pattern>/updateProfileImage.me</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updatePage.bo</display-name>
    <servlet-name>updatePage.bo</servlet-name>
    <servlet-class>com.skt.board.controller.BoardUpdatePageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updatePage.bo</servlet-name>
    <url-pattern>/updatePage.bo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getProfileImage.mb</display-name>
    <servlet-name>getProfileImage.mb</servlet-name>
    <servlet-class>com.skt.member.controller.MenuBarProfileImgController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getProfileImage.mb</servlet-name>
    <url-pattern>/getProfileImage.mb</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>interestedFestivalDelete.mp</display-name>
    <servlet-name>interestedFestivalDelete.mp</servlet-name>
    <servlet-class>com.skt.member.controller.myPageInterestedFestivalDeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>interestedFestivalDelete.mp</servlet-name>
    <url-pattern>/interestedFestivalDelete.mp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>interestedTourDelete.mp</display-name>
    <servlet-name>interestedTourDelete.mp</servlet-name>
    <servlet-class>com.skt.member.controller.myPageInterestedTourDeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>interestedTourDelete.mp</servlet-name>
    <url-pattern>/interestedTourDelete.mp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>createMyCourseToPage.mc</display-name>
    <servlet-name>createMyCourseToPage.mc</servlet-name>
    <servlet-class>com.skt.sub.controller.createMyCourseToPageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>createMyCourseToPage.mc</servlet-name>
    <url-pattern>/createMyCourseToPage.mc</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>intoMbti.co</display-name>
    <servlet-name>intoMbti.co</servlet-name>
    <servlet-class>com.skt.common.move.intoMbti</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>intoMbti.co</servlet-name>
    <url-pattern>/intoMbti.co</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>intoLogin.co</display-name>
    <servlet-name>intoLogin.co</servlet-name>
    <servlet-class>com.skt.common.move.intoLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>intoLogin.co</servlet-name>
    <url-pattern>/intoLogin.co</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>intoRegister.co</display-name>
    <servlet-name>intoRegister.co</servlet-name>
    <servlet-class>com.skt.common.move.intoRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>intoRegister.co</servlet-name>
    <url-pattern>/intoRegister.co</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>intoSearchId.co</display-name>
    <servlet-name>intoSearchId.co</servlet-name>
    <servlet-class>com.skt.common.move.intoSearchId</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>intoSearchId.co</servlet-name>
    <url-pattern>/intoSearchId.co</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>intoSearchPwd.co</display-name>
    <servlet-name>intoSearchPwd.co</servlet-name>
    <servlet-class>com.skt.common.move.intoSearchPwd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>intoSearchPwd.co</servlet-name>
    <url-pattern>/intoSearchPwd.co</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>tourfestivallist.tf</display-name>
    <servlet-name>tourfestivallist.tf</servlet-name>
    <servlet-class>com.skt.tourfestival.controller.TourFestivalListController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>tourfestivallist.tf</servlet-name>
    <url-pattern>/tourfestivallist.tf</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>tourFestivalListServlet</servlet-name>
    <servlet-class>com.skt.tourfestival.controller.TourFestivalListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>tourFestivalListServlet</servlet-name>
    <url-pattern>/tourFestival/loadMoreData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>testCheckBox.test</display-name>
    <servlet-name>testCheckBox.test</servlet-name>
    <servlet-class>tesy.testServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>testCheckBox.test</servlet-name>
    <url-pattern>/testCheckBox.test</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>courseDetail.cs</display-name>
    <servlet-name>courseDetail.cs</servlet-name>
    <servlet-class>com.skt.course.controller.courseDetailController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>courseDetail.cs</servlet-name>
    <url-pattern>/courseDetail.cs</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>detail.tf</display-name>
    <servlet-name>detail.tf</servlet-name>
    <servlet-class>com.skt.tourfestival.controller.TourFestivalDetailController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>detail.tf</servlet-name>
    <url-pattern>/detail.tf</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>fesdatail.tf</display-name>
    <servlet-name>fesdatail.tf</servlet-name>
    <servlet-class>com.skt.tourfestival.controller.FestivalDetailController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fesdatail.tf</servlet-name>
    <url-pattern>/fesdatail.tf</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>tourInterested.ft</display-name>
    <servlet-name>tourInterested.ft</servlet-name>
    <servlet-class>com.skt.tourfestival.controller.TourInterestedController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>tourInterested.ft</servlet-name>
    <url-pattern>/tourInterested.ft</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>fsInterested.ft</display-name>
    <servlet-name>fsInterested.ft</servlet-name>
    <servlet-class>com.skt.tourfestival.controller.FestivalInterestedController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fsInterested.ft</servlet-name>
    <url-pattern>/fsInterested.ft</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>search.tf</display-name>
    <servlet-name>search.tf</servlet-name>
    <servlet-class>com.skt.tourfestival.controller.TourFestivalSearchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>search.tf</servlet-name>
    <url-pattern>/search.tf</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>course.c</display-name>
    <servlet-name>course.c</servlet-name>
    <servlet-class>com.skt.course.controller.CourseController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>course.c</servlet-name>
    <url-pattern>/course.c</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>course.se</display-name>
    <servlet-name>course.se</servlet-name>
    <servlet-class>com.skt.course.controller.CourseSearchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>course.se</servlet-name>
    <url-pattern>/course.se</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>courseInterested.cs</display-name>
    <servlet-name>courseInterested.cs</servlet-name>
    <servlet-class>com.skt.course.controller.CourseInterestedController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>courseInterested.cs</servlet-name>
    <url-pattern>/courseInterested.cs</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>interestedCourseDelete.mp</display-name>
    <servlet-name>interestedCourseDelete.mp</servlet-name>
    <servlet-class>com.skt.member.controller.myPageInterestedCourseDeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>interestedCourseDelete.mp</servlet-name>
    <url-pattern>/interestedCourseDelete.mp</url-pattern>
  </servlet-mapping>
</web-app>